#mainLayout{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, grey 50%);
    -fx-accent: #959595;
    -fx-font-size: 1.5em;
    -fx-mid-text-color: #959595;
}

Group{
    -fx-background-color: transparent;
}

Pane{
    -fx-background-color: transparent;
}

#title{
    -fx-font: 55px "Century Gothic";
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, grey 50%);
}

#boxList{
     -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, white 0%, grey 50%);
}

